body{
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: aliceblue;
}
nav{
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    align-items: center;
}
nav .logo {
    font-size: 20px;
    font-weight: bold;
}
nav .menu{
    list-style: nome;
    display: flex;
    gap: 20px;
}
nav.menu li a {
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
}
nav .menu li a:houver{
    color: darkorange;
}
* seção de produtos*/
produtos {
    padding: 40px;
    text-align: center;
}
.produtos h1 {
    margin-bottom: 3
    30px;
}
.cards-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.card {
    background-color: aliceblue;
    border: 10px solid #add;
    border-radius: 10px;
    padding: 15px;
    width: 220px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0 .1);
    transition: transform 0.2s;
}
.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-radius: 8px;
}


.card button {
    background-color: #ff9800;
    border: none;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.card button:hover {
    background-color: #e68900;
}
